<%+header%>
<h2>R76S 状态</h2>
<div class="cbi-map">
  <div class="cbi-section">
    <h3>FriendlyElec NanoPi R76S / Rockchip RK3576</h3>
    <table class="table">
      <tr class="tr"><td class="td left">设备</td><td class="td"><%=data.model%></td></tr>
      <tr class="tr"><td class="td left">SoC</td><td class="td"><%=data.soc%></td></tr>
      <tr class="tr"><td class="td left">架构</td><td class="td"><%=data.arch%></td></tr>
      <tr class="tr"><td class="td left">内核</td><td class="td"><%=data.kernel%></td></tr>
      <tr class="tr"><td class="td left">温度</td><td class="td"><%=data.temp%></td></tr>
      <tr class="tr"><td class="td left">内存</td><td class="td"><%=data.mem%></td></tr>
      <tr class="tr"><td class="td left">负载</td><td class="td"><%=data.load%></td></tr>
      <tr class="tr"><td class="td left">LAN</td><td class="td"><%=data.lan%></td></tr>
      <tr class="tr"><td class="td left">WAN</td><td class="td"><%=data.wan%></td></tr>
      <tr class="tr"><td class="td left">SmartDNS</td><td class="td"><%=data.smartdns%></td></tr>
      <tr class="tr"><td class="td left">PassWall</td><td class="td"><%=data.passwall%></td></tr>
      <tr class="tr"><td class="td left">运行时间</td><td class="td"><%=data.uptime%></td></tr>
    </table>
  </div>
</div>
<%+footer%>
